!
! Zebra configuration saved from vty
!   2020/05/11 10:02:41
!
hostname ospfd
password zebra
log stdout
!
!
!
interface eth0
!
interface eth1
!
interface eth2
!
interface lo
!
router ospf
 ospf router-id {{ lo_address }}
 passive-interface default
 no passive-interface eth1
 no passive-interface eth2
 network {{ lo_address }}/32 area 0.0.0.0
 network {{ local_net1 }}/24 area 0.0.0.0
 network {{ local_net2 }}/24 area 0.0.0.0
!
line vty
!

